body {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    height: 100vh;
    margin: 0%;
    justify-content: center;
    align-items: center;
}

.intro {
    font-size: xx-large;
    font-weight: bolder;
    display: flex;
    text-align: center;
}

.winnerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;

}

button {
    width:150px;
    height:60px;
    background-color: aqua;
    border-radius: 3px;
    font-size: xx-large;
    cursor:pointer;
}

.playerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.computerSelection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}